# Ignore
node_modules

# Ignore les fichiers de développement
.git
.gitignore
README.md
*.log
dev.db
upload
generated
.nuxt
.output
.vscode
.windsurf
tests
data
.dockerignore
.docker-compose.yml
Dockerfile
Dockerfile-pnpm
plugins-dev

# Ne pas ignorer tradeJourney-tools mais ignorer son .venv
!tradeJourney-tools
tradeJourney-tools/python/.venv
